<!DOCTYPE html>
<html lang="en">
	<head>

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Bitter|Maven+Pro:900|Droid+Serif|Lato:400,700|Noto+Sans:700|Roboto:500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../public/css/font.css">
		<!--compiled & minified CSS-->
		<link rel="stylesheet" type="text/css" href="../public/materialize/css/materialize.min.css">
		<!--Main JS & CSS-->
		<link rel="stylesheet" type="text/css" href="../public/css/main.css">
		<script src="../public/js/main.js" type="text/javascript"></script>
		<!--Buttons Css-->
		<link rel="stylesheet" type="text/css" href="../public/css/buttons.css">
		<!--Strcture card Css-->
		<link rel="stylesheet" type="text/css" href="../public/css/structurecards.css">
		<!--Meta-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>FLISOL</title>
	</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper black">
				<a href="index.html" class="brand-logo droidseriffont">FLISOL</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down droidseriffont">
					<li id="tallers">
						<a href="#talleres">Talleres</a>
					</li>
					<li id="linuxbutton">
						<a href="#linux">Linux</a>
					</li>
				</ul>
				<ul class="side-nav droidseriffont" id="mobile-demo">
					<li>
						<a href="#talleres">Talleres</a>
					</li>
					<li>
						<a href="#linux">Linux</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!--Main begins-->	
	<main>
		<div class="container">
			<div class="row" id="flisol">
				<img class="responsive-img col s12 m12 l12" src="../media/image/flisolbanner1.png" id="banner">
			</div>
		</div>

		<!--Talleres-->
		<div id="back2">

			<h1 class="header center white-text light-blue accent-4 droidseriffont" id="talleres">
				Talleres
			</h1>

		<!--Cards-->
			<div class="container">
			<!--Card1 begins-->
			<div class="row">
				<div class="col s12 m6 l5">
					<div class="card z-depth-5 green">
						<div class="container">
							<h1 class="header center white-text latofont">
								Android
							</h1>
						</div>
			            <div class="card-image white">
			            	<img src="../media/image/android.png" id="android">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Android:</b> Lo que lo hace diferente es que está basado en Linux, un núcleo de sistema operativo libre, gratuito y multiplataforma. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal1" id="butonandroid">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
				<!--Card1 finish-->
				<!--Card2 being-->
				<div class="col s12 m6 l5 offset-s2">
					<div class="card z-depth-5 amber darken-4">
						<header class="container">
							<h1 class="center white-text latofont">
								Git
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/git.png" id="git">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Git:</b> Si entiendes lo que es Git y los fundamentos de cómo funciona, probablemente te sea mucho más fácil usar Git de manera eficaz. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal2" id="butongit">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
			</div>
			<!--Card2 finish-->

			<!--Card1 begins-->
			<div class="row">
				<div class="col s12 m6 l5">
					<div class="card z-depth-5 cyan darken-3">
						<header class="container">
							<h1 class="center white-text latofont">
								Arduino
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/arduino.png" id="arduino">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Arduino:</b> Es una plataforma de prototipos electrónica de código abierto (open-source) basada en hardware y software flexibles y fáciles de usar. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal3" id="butonarduino">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
				<!--Card1 finish-->
				<!--Card2 being-->
				<div class="col s12 m6 l5 offset-s2">
					<div class="card z-depth-5 yellow accent-4">
						<header class="container">
							<h1 class="center white-text latofont">
								Python
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/python.png">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Python:</b> Es un lenguaje orientado a objetos, preparado para realizar cualquier tipo de programa, desde aplicaciones Windows hasta páginas web. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal4" id="butonpython">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
			</div>
			<!--Card2 finish-->

			<!--Card1 begins-->
			<div class="row">
				<div class="col s12 m6 l5">
					<div class="card z-depth-5 light-blue darken-4">
						<header class="container">
							<h1 class="center white-text latofont" id="textwd">
								Web Design
							</h1>
						</header>
			            <div class="card-image white" id="wd">
			            	<img src="../media/image/wd.png" id="wd">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Web Design:</b> Es un nuevo paradigma del desarrollo web. Permite adaptar cada site a los diferentes formatos de dispositivos de acceso, smartphones, tabletas, portátiles. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal5" id="butonwebdesign">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
				<!--Card1 finish-->
				<!--Card2 being-->
				<div class="col s12 m6 l5 offset-s2">
					<div class="card z-depth-5 pink">
						<header class="container">
							<h1 class="center white-text latofont">
								Flask
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/flask.png" id="flask">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Flask:</b> Es un microframework en python basado en Werkzeug que te permite crear aplicaciones web rápidamente y con un mínimo número de líneas de código. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal6" id="butonflask">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
			</div>
			<!--Card2 finish-->

			<!--Card1 begins-->
			<div class="row">
				<div class="col s12 m6 l5">
					<div class="card z-depth-5 orange darken-3">
						<header class="container">
							<h1 class="center white-text latofont">
								Blender
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/Blender.png" id="blndr">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Blender:</b> Es un programa informático multi plataforma, dedicado especialmente al modelado, iluminación, renderizado, animación y creación de gráficos tridimensionales. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal7" id="butonblender">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
				<!--Card1 finish-->
				<!--Card2 being-->
				<div class="col s12 m6 l5 offset-s2">
					<div class="card z-depth-5 blue darken-2">
						<header class="container">
							<h1 class="center white-text latofont">
								Scribus
							</h1>
						</header>
			            <div class="card-image white">
			            	<img src="../media/image/scribus.png" id="scribus">
			            </div>
			            <div class="card-content white justify robotofont">
			            	<p>
			            		<b>Scribus: </b>Es la herramienta de software alternativa a Microsoft Publisher y Adobe InDesign con los cuales puedes crear, publicaciones, articulos, tripticos e incluso documuentos como tu curriculum. <b class="mavenprofont">Horario en más información</b>
			            	</p>
			            </div>
			            <!-- Modal Trigger -->
			            <div class="card-action center">
			            	<a class="waves-effect waves-light btn notosansfont" href="#modal8" id="butonscribus">Más información</a>
			            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
			        	</div>
			        </div>
				</div>
			</div>
			<!--Card2 finish-->			
		</div>

			<div class="container">
			<div class="row">
				<img class="responsive-img col s12 m12 l12" id="linux" src="../media/image/linux.png">
			</div>

			<div class="row" id="linuxmargin">
				<div class="col s12 m12 l12">
				    <div class="card horizontal orange white-text z-depth-5">
				      <div class="card-stacked">
				        <div class="card-content robotofont">
				          <p>
				          	Linux es un sistema operativo, una gran pieza de software que controla un computador. Es parecido a Microsoft Windows, pero completamente libre. El nombre correcto es GNU/Linux pero "Linux" se usa más.
							<br><br>
							Linux no es el producto de una sola compañía, es el resultado de la contribución de un gran número de compañías y grupos de personas. De hecho, el sistema GNU/Linux es un componente central, el cual se transforma en muchos productos diferentes: las llamadas distribuciones.
							<br><br>
							Las distribuciones cambian la apariencia y funcionamiento de Linux completamente. Las hay desde grandes sistemas completos totalmente equipados (respaldadas por compañías) hasta las más ligeras que entran en un llavero USB o funcionan en computadores viejos (usualmente desarrolladas por voluntarios).
				          </p>
				        </div>
				        <div class="card-action center orange darken-2">
				          <a href="https://www.linux.com/" id="link_ubu" class="notosansfont">Entra a la página de Linux</a>
				          <a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2">Inscribirse</a>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
		</div>
	</main>
	<!--Footer-->
    <footer class="page-footer light-blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l2 s6">
            <p class="grey-text text-lighten-4"><a href="#" class="footxt">Aviso Legal</a></p>
          </div>
          <div class="col l3 s6">
            <p class="grey-text text-lighten-4"><a href="http://dgapa.unam.mx/images/etica/2015_codigo-etica-unam.pdf" class="footxt">Codigo de conducta</a></p>
          </div>
          <div class="col l2 s6">
            <p class="grey-text text-lighten-4"><a href="https://flisol.info/" class="footxt">FLISOL</a></p>
          </div>
          <div class="col l2 s2">
            <p class="grey-text text-lighten-4"><a href="https://fb.com/pg/GDGUNAM/about/" class="footxt">Contacto</a></p>
          </div>
          <div class="col l1 s2">
            <a href="https://fb.com/GDGUNAM"><img src="../media/image/fb_logo.png" id="fb"></a>
          </div>
          <div class="col l1 s2">
            <a href="https://twitter.com/gdgunam"><img src="../media/image/twt_logo.png" id="twt"></a>
          </div>          
        </div>
      </div>	
    </footer>

	<!-- Modal Structure I -->
	<div id="modal1" class="modal justify green lighten-5">
	    <div class="modal-content">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/androidlogo.png" alt="" id="androidlogo">
					</div>
		    		<p class="bitterfont">
		    			Android es un sistema operativo basado en el núcleo Linux. Fue diseñado principalmente para dispositivos móviles con pantalla táctil, como teléfonos inteligentes, tablets y también para relojes inteligentes, televisores y automóviles. <br><br>

		    			<b>Las ventajas de Android son:</b><br><br>
		    			
		    			• El código de Android es abierto: Google liberó Android bajo licencia Apache. Cualquier persona puede realizar una aplicación para Android.
						<br><br>
						• Hoy día hay más de 650.000 aplicaciones disponibles para teléfonos Android y la mayoria gratis. Además la libertad de código permite adaptar Android a bastantes otros dispositivos además de teléfonos celulares.
						<br><br>
						• El sistema Android es capaz de hacer funcionar a la vez varias aplicaciones y además se encarga de gestionarlas, dejarlas en modo suspensión si no se utilizan e incluso cerrarlas si llevan un periodo determinado de inactividad. De esta manera se evita un consumoexcesivo de batería. Esta es una de sus mayores ventajas por la rapidez con la que carga una aplicación abierta previamente.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 1;<br>De 11:00 - 12:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonandroid">Inscribirse</a>
		        	</div>	
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure I -->
	<!-- Modal Structure II -->
	<div id="modal2" class="modal justify amber lighten-5">
	    <div class="modal-content">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/gitlogo.png" alt="" id="gitlogo">
					</div>
		    		<p class="bitterfont">
		    			Git fue creado pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones cuando éstas tienen un gran número de archivos de código fuente, es decir Git nos proporciona las herramientas para desarrollar un trabajo en equipo de manera inteligente y rápida y por trabajo nos referimos a algún software o página que implique código el cual necesitemos hacerlo con un grupo de personas. <br><br>
		    			<b>Algunas de las características más importantes de Git son:</b><br><br>
		    				• Rapidez en la gestión de ramas, debido a que Git nos dice que un cambio será fusionado mucho más frecuentemente de lo que se escribe originalmente.<br><br>
							• Gestión distribuida; Los cambios se importan como ramas adicionales y pueden ser fusionados de la misma manera como se hace en la rama local.<br><br>							
							• Gestión eficiente de proyectos grandes.<br><br>
							• Realmacenamiento periódico en paquetes.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 2;<br>De 14:00 - 16:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butongit">Inscribirse</a>
		        	</div>					
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure II -->
	<!-- Modal Structure III -->
	<div id="modal3" class="modal justify cyan lighten-5">
	    <div class="modal-content">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/arduinologo.png" alt="" id="arduinologo">
					</div>
		    		<p class="bitterfont">
		    			Es un IDE con las que cualquier usuario puede crear proyectos de todo tipo. La idea es que los usuarios, tanto los avanzados como los novatos, puedan armar una placa ellos mismos creando un diseño único para sus necesidades y usarla libremente sin tener que comprar una que sea pre-fabricada. <br><br>
		    			<b>Algunas ventajas de usar Arduino son:</b><br><br>
	            		• Simplifica. Arduino simplifica el proceso de trabajar con microcontroladores.<br><br>
						• Bajos costos. Las placas Arduino son más accesibles comparadas con otras plataformas de microcontroladores. Los módulos más caros de Arduino pueden ser montadas a mano bajando sus costos.
						<br><br>
						• Multi-Plataforma. El software de Arduino funciona en los sistemas operativos Windows, Macintosh OSX y Linux; mientras que la mayoría de otros entornos para microcontroladores están únicamente limitados a Windows.<br><br>
						• Entorno de programación simple y directo. El entorno de programación de Arduino es fácil de usar para principiantes y flexible para los usuarios avanzados. Además, Arduino está basado en el entorno de programación de Procesing.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 3;<br>De 12:00 - 14:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonarduino">Inscribirse</a>
		        	</div>		    		
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure III -->
	<!-- Modal Structure IV -->
	<div id="modal4" class="modal justify">
	    <div class="modal-content yellow lighten-5">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/pythonlogo.png" alt="" id="pythonlogo">
					</div>
		    		<p class="bitterfont">
		    			Python, pertenece al grupo de los lenguajes de programación y puede ser clasificado como un lenguaje interpretado, de alto nivel, multiplataforma, de tipado dinámico y multiparadigma. A diferencia de la mayoría de los lenguajes de programación, Python nos provee de reglas de estilos, a fin de poder escribir código fuente más legible y de manera estandarizada.<br><br>
						<b>Algunas de las ventajas que tiene Python son:</b><br><br>
		    			• Simplificado y rápido: Lo bueno de python es que simplifica mucho la programación “hace que te ciñas a un modo de lenguaje de programación, python te propone un patrón”.<br><br>
		    			• Elegante y flexible: El lenguaje te da muchas herramientas “si quiero listas de varios datos, no hace falta que declares cada cosa” y agrega que al ser tan flexible no te preocupas tanto por los detalles.<br><br>
		    			• Ordenado y limpio: Este es un punto en el cual concidirás, porque el orden que mantiene python es de lo que más gusta “es muy leible, cualquier otro programador lo puede leer y trabajar sobre el”. A su vez destaca que los módulos están bien organizados, a diferencia de otros lenguajes.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 1;<br>De 14:00 - 16:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonpython">Inscribirse</a>
		        	</div>		    		
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure IV -->
	<!-- Modal Structure v -->
	<div id="modal5" class="modal justify">
	    <div class="modal-content light-blue lighten-5">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/webdesign.png" alt="">
					</div>
		    		<p class="bitterfont">
		    		El responsive design o diseño adaptable no consiste en hacer una versión móvil del sitio con un subdominio paralelo, sino en prepararlo estructuralmente para que sea capaz de adaptar todo su contenido dependiendo del tipo de dispositivo con el que se está viendo.<br><br>
					<b>Ventajas de la Web Responsive:</b><br><br>
							• Carga más veloz del sitio en los dispositivos portátiles<br><br>
							• Mejor lectura, con el tamaño de letra adecuado para una lectura comoda ya sea en smarthphone o tablet.<br><br>
							• Mejor experiencia en la navegación: con botones adaptados para el uso táctil del dispositivo.<br><br>
							• Ahorro de costes: Ya que no es necesario desarrollar múltiples versiones del site o incluso desarrollar una app para Iphone / Ipad y Android<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 2;<br>De 12:00 - 14:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonwebdesign">Inscribirse</a>
		        	</div>
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure V -->
	<!-- Modal Structure VI -->
	<div id="modal6" class="modal justify">
	    <div class="modal-content pink lighten-5">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/flasklogo.png" alt="" id="flasklogo">
					</div>
		    		<p class="bitterfont"><br>
		    			Flask es un pequeño framework para la mayoría de los estándares, lo suficientemente pequeño para ser llamado “micro-framework”.  Es lo suficientemente pequeño para que una vez familiarizado con el, tu puedas leer y entender todo su código base.<br><br>
						
						Que sea pequeño no se significa que hace menos que otros frameworks. Flask fue diseñado como un framework extensible desde el principio; nos provee de un núcleo solido con los servicios básicos, mientras que las extensiones proveen del resto. Tu puedes tomar y elegir  el paquete de extension que tu quieras, con esto se pretende que utilices únicamente lo que necesitas.<br><br>

						Flask soporta el uso de cookies seguras y se apoya en el motor de plantillas Jinja2, otra creación hermosa de Ronacher que es simplemente genial para renderizar vistas y respuestas.<br><br>
						
						Flask no tiene ORMs, wrappers o configuraciones complejas, eso lo convierte en un candidato ideal para aplicaciones ágiles o que no necesiten manejar ninguna dependencia. Es así de simple.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 3;<br>De 11:00 - 12:00</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonflask">Inscribirse</a>
		        	</div>		    		
		    	</div>
		    </div>
		</div>
		<div class="modal-footer"">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure VI -->
	<!-- Modal Structure VII -->
	<div id="modal7" class="modal justify">
	    <div class="modal-content orange lighten-5">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/blenderlogo.png" alt="" id="blenderlogo">
					</div>
		    		<p class="bitterfont">
		    		Vamos a recorrer sus características aunque aparezca algo de terminología imposible de comprender para el recién llegado; sin embargo nos sirve como pequeña introducción al vocabulario propio de diseño 3D. 
					<br><br>
					• Blender es un software destinado, en primera instancia, al modelado 3D de objetos para después hacer representaciones de ese modelado. Incorpora la posibilidad de dar texturas y materiales, iluminar la escena.
					<br><br>
					• Permite crear animaciones de los modelados; desde mecánicas restringidas de artilugios robóticos hasta emisiones de partículas para explosiones, pasando por todo tipo de cinemáticas para mover personajes.
					<br><br>
					• Incluye su propio motor de juegos para desarrollar paseos virtuales por recorridos arquitectónicos aunque en realidad es posible afrontar cualquier videojuego que un equipo humano cualificado se proponga.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 1;<br>De 12:00 - 13:30</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonblender">Inscribirse</a>
		        	</div>		    		
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure VII -->
	<!-- Modal Structure VIII -->
	<div id="modal8" class="modal justify">
	    <div class="modal-content blue lighten-5">
	    	<div class="container">
		    	<div class="row">
					<div>
						<img src="../media/image/scribuslogo.png" alt="" id="scribuslogo">
					</div>
		    		<p class="bitterfont">
		    			Es un programa de maquetación de páginas, licenciado como software libre, que ofrece un gran rendimiento en la creación de publicaciones por ordenador y se encuentra disponible en 24 idiomas. Scribus ha sido generado con la biblioteca de desarrollo Qt y está disponible en versiones para sistemas operativos tales como GNU/Linux, Unix, Mac OS X y Windows.
		    			<br><br>
						• Entre su características más relevantes Scribus soporta la mayoría de los principales formatos gráficos, además de SVG, el manejo de fuentes e imágenes, la manipulación de color CMYK y la administración de color ICC. 
						<br><br>
						• El formato de sus archivos está basado en XML y está totalmente documentado. Se pueden importar textos de documentos OpenDocument, como RTF, Doc de Microsoft Word, y HTML (aunque con algunas limitaciones).
						<br><br>
						• El soporte PDF incluye transparencia, cifrado y un gran conjunto de las especificaciones de PDF 1.4 así como PDF/X3, incluyendo campos interactivos de formularios PDF, notas y marcas.
						<br><br><br>
						En el curso haremos un Curriculum, trae el tuyo y algunas imagenes y pasemos de tu documento de "Word 98" a uno más llamativo.<br>
		    		</p>
					<div class="container infocursos center">
						<p>El curso será en el Edificio A-5, CAE-504, Salón 3;<br>De 14:00 - 15:30</p>
					</div>
		    		<!-- Modal Trigger -->
		            <div class="card-action center">
		            	<a class="waves-effect waves-light btn notosansfont gnlbutton" href="https://goo.gl/forms/pij8tst1LLdzLS5J2" id="butonscribus">Inscribirse</a>
		        	</div>		    		
		    	</div>
		    </div>
		</div>
		<div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-close notosansfont" id="modalfooter">Regresar</a>
		</div>
	</div>
	<!--Finished Modal Structure VIII -->		


	<!--compiled & minified JQuery, note: import JQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	
	<!--compiled & minified JS-->
	<script type="text/javascript" src="../public/materialize/js/materialize.min.js"></script>

	<!-- JQuery methods -->

	<!-- Button collapse -->
	<script>
		$(document).ready(function(){
			$(".button-collapse").sideNav();
		});	
	</script>
	<!--Modals-->
	<script>
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
		});	
	</script>	

</body>
</html>