/*Estucturas de cuadros*/
#gitlogo{
    max-width: 100%;
}
#pythonlogo{
    max-width: 100%;
}
#flasklogo{
    max-width: 100%;
}
#arduinologo{
    max-width: 100%;
}
#androidlogo{
    max-width: 100%;
}
#blenderlogo{
    max-width: 100%;
}
#scribuslogo{
	margin-left: 8%;
    max-width: 100%;
}